.TextareaAutoGrowing {
  width: 100%;
  padding: 1rem;

  border-radius: var(--border-radius--medium);
  background-color: var(--color--main--light);
}

.textarea {
  background-color: transparent;
  overflow-y: auto;
  resize: none;
  transition: height 0.2s;
  width: 100%;
  box-sizing: border-box;

  border: 0 solid;

  color: var(--color--sub--light);
}
