.CardInvincible {
  display: flex;
  flex-direction: column;
  flex-direction: column;
  align-items: center;
}
.link {
  color: var(--color--complementary);
  text-decoration: underline;
  cursor: pointer;
}
