.HeaderIconMenu0 {
}
.Laws {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: var(--border-radius--min);
  background-color: var(--color--main--medium);
  padding: 1rem;
  gap: 0.5rem;
}

.link {
  font-size: calc(var(--font-size--default) * 0.9);
  font-weight: lighter;
  text-decoration: underline;
  cursor: pointer;
}

.link_normal {
  color: var(--color--gray--medium);
}

.link_highlighted {
  color: var(--color--sub--light);
  font-weight: var(--font-weight--bold);
}
