.LinkToUpgradePage {
}
.unclickable {
  pointer-events: none;
}

.Modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.Modal__text {
  color: var(--color--whiter);
  padding: 1rem;
}
