.ContentPurchaseRice {
  /* background-color: var(--color--sub--dark); */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  gap: 1rem;
}

.ContentPurchaseRice__pageTitle {
  color: var(--color--sub--medium);
}
