.ContentLetsLogin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
  background-color: var(--color--black);
  color: var(--color--white);
  border-radius: var(--border-radius--max);
}
