.AppLogo {
  background-color: var(--color--main--medium);
  color: var(--color--sub--medium);
  border-radius: var(--border-radius--min);
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  cursor: pointer;
}
.AppLogoJP {
  font-size: calc(var(--font-size--default) * 0.7);

  text-align: right;
  /* background-color: green; */
}
.AppLogoJP_displaySidebar {
  /* letter-spacing: 0.5rem; */
}
.AppLogoJP_notDisplaySidebar {
  /* font-size: 0.7rem; */
}

.AppLogoEN {
  font-size: calc(var(--font-size--default) * 1.2);
  font-weight: var(--font-weight--bold);
}
.AppLogoEN_displaySidebar {
}
.AppLogoEN_notDisplaySidebar {
  /* font-size: 1rem; */
}
